@use './mixins' as *;
@use './variables' as *;

.header {
  margin-top: 36px;
  
  @include breakPoint(large) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-title {
    .subtitle {
      font-size: 14px;
      font-weight: 700;
      color: var(--text1);
    }
  }

  &-toggle {}
}